<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Chart</title>
    <style>
        canvas {
            max-width: 100vw;
            max-height: 100vh;
        }
    </style>
</head>

<body>
    <div>
        <canvas id="myChart"></canvas>
    </div>
    <input type="hidden" value="<%= todoData[0] %> " id="incomplete">
    <input type="hidden" value="<%= todoData[1] %> " id="archive">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
<script>
    const incomplete = document.querySelector('#incomplete').value;
    const archive = document.querySelector('#archive').value;
    console.log(incomplete, archive)
    const labels = [
        'Completed',
        'InComplete',
    ];

    const data = {
        labels: labels,
        datasets: [{
            label: 'Todo Chart',
            backgroundColor: ['rgba(154, 205, 50, 0.2)', 'rgba(255, 99, 132, 0.2)'],
            borderColor: ['rgb(154, 205, 50)', 'rgb(255, 99, 132)'],
            data: [incomplete, archive],
        }]
    };

    const config = {
        type: 'polarArea',
        data: data,
        options: {}
    };

    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
</script>

</html>